# Dependencies
/build/
/.dart_tool/
.packages
.pub/

# IDE
.idea/
*.iml
.vscode/

# Secrets
.env

# OS
.DS_Store
Thumbs.db

# Flutter
**/android/local.properties
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/
